{% extends 'layout.html' %}
{% load widget_tweaks %}
{% block head %}
    {% block head_form %}

    {% endblock %}
{% endblock %}

{% block content %}

    <div class="card card-primary">
        <form method="post" id="myForm" action="." enctype="multipart/form-data">
            <div class="card-header">
            </div>
            <div class="card-body">
                {% csrf_token %}
                <input type="hidden" name="action" value="{{ action }}">
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al querer guardar el registro</h5>
                        <ul>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% block form_fields %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            <label for="email">{{ field.label }}:</label>
                            {{ field|add_class:'form-control'|attr:'autocomplete:off' }}
                        </div>
                    {% endfor %}
                {% endblock %}
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-flat">
                    <i class="fas fa-save"></i> Guardar registro
                </button>
                <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                    <i class="fas fa-times"></i> Cancelar
                </a>
            </div>
        </form>
    </div>

    {% block modals %}{% endblock %}

    <script>
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}

        $('#myForm').on('submit', function (e) {
            e.preventDefault();
            var parameters = new FormData(this);
            var crud_action = "";
            var crud_message = '¿Estas seguro de realizar la siguiente acción?';
            {% if action == 'add' %}
                crud_action = "agregado";
                crud_message = '¿Estas seguro de agregar este nuevo registro?'
            {% else %}
                crud_action = "actualizado";
                crud_message = '¿Desea guardar los cambios realiados al registro actual?, los datos antiguos se perderan.'
            {% endif %}
            submit_with_ajax(window.location.pathname, 'Notificación', crud_message, parameters, function () {
                Swal.fire({
                    icon: 'success',
                    title: crud_action,
                    text: 'Registro ' + crud_action + ' correctamente!',
                    timer: 2000,
                    onClose: () => {
                        location.href = '{{ list_url }}';
                    }
                })
            });
        });

            $(".nav li").on("click", function () {
                $(".nav").find(".active").removeClass("active");
                $(this).addClass("active");
            });
    </script>
{% endblock %}